<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <encoder>
            <pattern>{"time":"%date{ISO8601}","level":"%level","logger":"%logger","message":"%msg"}</pattern>
        </encoder>
        <batcher>
            <maxBatchSize>100</maxBatchSize>
            <maxBatchIntervalMs>60000</maxBatchIntervalMs>
        </batcher>
        <sender>
            <url>http://localhost:3100/loki/api/v1/push</url>
            <connectTimeoutMs>1000</connectTimeoutMs>
            <readTimeoutMs>2000</readTimeoutMs>
        </sender>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
