version: '4.3'

networks:
  my-networks:
    driver: bridge

services:

  postgres:
    container_name: trade_db
    image: postgres:15.3-alpine
    networks:
      - my-networks
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_DB=trade_project
    ports:
      - '5432:5432'
    volumes:
      - ./volumes/postgresql/data:/var/lib/postgresql/data
      - ./create-db.sql:/docker-entrypoint-initdb.d/create_database.sql

  keycloak:
    container_name: trade_keycloak
    image: quay.io/keycloak/keycloak:25.0
    command: start
    networks:
      - my-networks
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/keycloakdb
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    volumes:
      - ./volumes/keycloak/data:/opt/keycloak/data

  kafka:
    container_name: trade_kafka
    image: bitnami/kafka:latest
    networks:
      - my-networks
    ports:
      - '9092:9092'
    volumes:
      - "kafka_data:/bitnami"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9091,CONTROLLER://:9093,EXTERNAL://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9091,EXTERNAL://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT

  redis:
    container_name: trade_redis
    image: redis:latest
    networks:
      - my-networks
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
  #      --requirepass 12345
    volumes:
      - ./volumes/redis/data:/data

  mysql:
    container_name: trade_mysql
    image: mysql:8
    networks:
      - my-networks
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: trade_project
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    ports:
      - '3306:3306'
    volumes:
      - ./volumes/mysql/data:/var/lib/mysql/


  # Database sharding
  postgres_shard1:
    container_name: db_shard_1
    image: postgres:15.3-alpine
    networks:
      - my-networks
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_DB=trade_project
    ports:
      - '5433:5432'
    volumes:
      - ./volumes/postgresql_1/data:/var/lib/postgresql/data
      - ./create-db.sql:/docker-entrypoint-initdb.d/create_database.sql

  postgres_shard2:
    container_name: db_shard_2
    image: postgres:15.3-alpine
    networks:
      - my-networks
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_DB=trade_project
    ports:
      - '5434:5432'
    volumes:
      - ./volumes/postgresql_2/data:/var/lib/postgresql/data
      - ./create-db.sql:/docker-entrypoint-initdb.d/create_database.sql


volumes:
  kafka_data:
    driver: local