server:
  port: 8082

spring:
  application:
    name: core-service
  profiles:
    active:
      - local
  autoconfigure:
    exclude: net.devh.boot.grpc.server.autoconfigure.GrpcServerFactoryAutoConfiguration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${project.variables.keycloak.url}/realms/${project.variables.keycloak.realm}
  r2dbc:
    url: r2dbc:postgresql://${project.variables.datasource.url}/trade_project
    username: ${project.variables.datasource.username}
    password: ${project.variables.datasource.password}
  flyway:
    enabled: true
    url: jdbc:postgresql://${project.variables.datasource.url}/trade_project
    user: ${project.variables.datasource.username}
    password: ${project.variables.datasource.password}
  kafka:
    bootstrap-servers: ${project.variables.kafka.url}
    trade-notification-topic: trade-notification-topic
    subscribe-status-topic: subscribe-status-topic
    partitions: 3
    replicas: 3
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  redis:
    host: ${project.variables.redis.host}
    port: ${project.variables.redis.port}

grpc:
  client:
    analytical-service:
      address: static://${project.variables.smart-service.url}
      enableKeepAlive: true
      negotiationType: "PLAINTEXT"
  server:
    port: -1

springdoc:
  info:
    title: Anastasia Trader Project
    description: API for Core-service
    version: 1.0.0
    url:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  paths-to-match: /api/v1/**


project:

  variables:
    keycloak:
      url: <?>
      username: <?>
      password: <?>
      client-id: <?>
      client-secret: <?>
      realm: trade-project
    datasource:
      url: <?>
      username: <?>
      password: <?>
    kafka:
      url: <?>
    smart-service:
      url: <?>
    redis:
      host: <?>
      port: <?>

  encryption:
    secret-key: <?>
    iv-value: <?>

  exchange:
    moex:
      url: https://iss.moex.com/iss
